[genuitec-file-id="wc1-12"],[genuitec-lp-path="/EMS/WebRoot/ems/js/datepricker/skin/WdatePicker.css"],[genuitec-lp-enabled=false]{
  /* for codelive */
}

.Wdate{
	border:#999 1px solid;
	height:20px;
	background:#fff url(datePicker.gif) no-repeat right;
}
.Wdate::-ms-clear{display:none;}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}